<h1>Medical History for <%= current_user.first_name %> <%= current_user.last_name %></h1>
<table class="table table-striped table-bordered table-condensed" style="width: 800px;">
  <tr>
    <th>Category</th>
    <th>Type</th>
    <th>Date</th>
    <th>ID</th>
  </tr>
  <% current_user.histories.each do |h| %>
    <tr>
      <td><%= h.illness_category %></td>
      <td><%= h.illness_type %></td>
      <td><%= h.date %></td>
      <td><%= link_to "#{h.user_id}", history_path(h) %></td>
    </tr>
  <% end %>
</table>



<p><%= link_to 'Log Illness', new_history_path %></p>
<a href="histories/home">Return to Homepage</a>
<!--<p><%= link_to 'Back to homepage' %>-->
