<h1>Health Log</h1>
<div class="form-inline">
  <%= form_for @history do |f| %>
    <!--<%= f.label :illness_category %>
    <%= f.text_field :illness_category %>
    <%= f.label :illness_type %>
    <%= f.text_field :illness_type %>-->

    <%= f.label :illness_category %>
    <%= f.text_field :illness_category %>
    <%= f.label :illness_type %>
    <%= f.text_field :illness_type %>
    <%= f.label 'date (DD/MM/YYYY)' %>
    <%= f.text_field :date %>
    <%= f.submit %>
  <% end %>
</div>

<p class="tab">eg. "Allergies, Injury" eg. "Pollen, Broken Leg"</p>

<h1>Medical History for <%= current_user.first_name %> <%= current_user.last_name %></h1>
<table class="table table-striped table-bordered table-condensed" style="width: 800px;">
  <tr>
    <th>Category</th>
    <th>Type</th>
    <th>Date</th>
    <th>ID</th>
  </tr>
  <% current_user.histories.each do |h| %>
    <tr>
      <td><%= h.illness_category %></td>
      <td><%= h.illness_type %></td>
      <td><%= h.date %></td>
      <td><%= link_to "#{h.user_id}", history_path(h) %></td>
    </tr>
  <% end %>
</table>

<a href="index">Return to Medical Record</a>
<p><a href="home">Return to Homepage</a></p>
