<h1>Profile for <%= @user.first_name %> <%= @user.last_name %> </h1>

<div class="well">
  <h2>Background Information</h2>
  <p>Date of Birth: <%= @user.dob %></p>
  <p><%= @user.phone %></p>
  <p><%= @user.address %></p>
  <p><%= @user.bio %></p>
  <p><%= @user.family_history %></p>
  <p><%= @user.additional %></p>
</div>

<%= link_to 'Back', histories_path %>
