<!DOCTYPE html>
<html>
<head>
  <title>Health</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body>
  <div id="user_nav">
    <% if user_signed_in? %>
        Signed in as <%= current_user.email %>.
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <%= link_to 'Edit your personal information', edit_user_registration_path %>
    <% else %>
        <%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>


    <% end %>

</div>

<%= yield %>

</body>
</html>
